section {
    display: flex;
    align-items: center;
    padding: 40%;
}

.img1 {
    flex: 1;
    max-width: 100%;
    max-height: 400px;
    margin-right: 20px;
}

.img1 img {
    max-width: 100%;
    max-height: 100%;
}

.textos1 {
    flex: 2;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textos1 h1 {
    font-size: 32px;
    margin: 0;
    margin-bottom: 10px;
}

.textos1 p {
    font-size: 18px;
    margin: 0;
}